button {
  display: inline-block;
  margin: 1% auto;
}

.buttonTray {

}

.gridElement {
  display: inline-block;
}

.gridElementDefaultState {
  background-color: blue;
}

#gameWindow {
  width: 500px;
  height: 500px;
  margin: auto;
}

#websiteWindow {
  text-align: center;
}